# IntelliJ 관련 파일
.idea/
*.iml
*.iws
*.ipr

# Mac 시스템 파일
.DS_Store

# 빌드 결과물
/target/
/out/
/build/

# 로그 파일
*.log

# 환경 설정
*.env

# Maven / Gradle 관련 캐시
.mvn/
.gradle/
build/

# Python 가상환경
.venv/
venv/

# 임시 파일
*.tmp
*.swp

# OS 또는 편집기 관련 파일
*.bak
*.sublime-workspace
*.sublime-p*

.env
maven-repo/